body {
    background-image: url(Blue-Powerpoint-Background-Pics.jpg);
    background-size: cover; /* Faz a imagem cobrir a tela inteira */
    background-repeat: no-repeat; /* Evita repetição da imagem */
    background-attachment: fixed; /* Faz com que a imagem de fundo não role com a página */
    background-position: center;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
   }
   input {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
   }
   button {
    padding: 5px;
    margin-top: 10px;
    cursor: pointer;
   }
   button:active {
    opacity: 70%;
   }
   
   .clear {
    background-color: rgb(146, 204, 240);
    border-radius: 5px;
   }